.home {
    padding: 2rem;
  }
  .tutor-details, .video-upload {
    margin-bottom: 2rem;
  }
  .tutor-details input, .tutor-details textarea {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
  }
  .video-upload input {
    margin-top: 1rem;
  }
  